@font-face {
    font-family: 'Pomidorko';
    src: local('Pomidorko'), url('Pomidorko.woff2') format('woff2'), url('Pomidorko.woff') format('woff'), url('Pomidorko.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
