@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bell-shake {
    1% {
        -webkit-transform: rotateZ(15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    2% {
        -webkit-transform: rotateZ(-15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    3% {
        -webkit-transform: rotateZ(20deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    4% {
        -webkit-transform: rotateZ(-20deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    5% {
        -webkit-transform: rotateZ(15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    6% {
        -webkit-transform: rotateZ(-15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    7% {
        -webkit-transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes bell-shake {
    10% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    20% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    30% {
        -webkit-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    40% {
        -webkit-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    50% {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    60% {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    70% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@-webkit-keyframes rotationSaleBlock {
    0%, 40% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

@keyframes rotationSaleBlock {
    0%, 40% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes heartBeat {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes eyeClosing {
    0%, 6%, 100% {
        background: url(../img/orangePieces/left-eye.svg) no-repeat center;
        background-size: contain;
    }
    5% {
        background: url(../img/orangePieces/left-eye-closed.svg) no-repeat center;
        background-size: contain;
    }
}

@keyframes eyeClosingRight {
    0%, 6%, 100% {
        background: url(../img/orangePieces/right-eye.svg) no-repeat center;
        background-size: contain;
    }
    5% {
        background: url(../img/orangePieces/right-eye-closed.svg) no-repeat center;
        background-size: contain;
    }
}

@keyframes mouseMove {
    0%, 100% {
        transform: none;
    }
    10% {
        transform: translate(2vw, 1vw) rotate(-8deg) scale(.8, 1);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}

@keyframes raise {
    0% {
        transform: translateY(0) scale(1.0);
    }
    60% {
        transform: translateY(-.8vw) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1.0);
    }
}

@keyframes animatedMand {
    0%, 100% {
        background: url(../img/mandarin-2/1.png) no-repeat center;
        background-size: contain;
    }
    .5% {
        background: url(../img/mandarin-2/2.png) no-repeat center;
        background-size: contain;
    }
    1.0% {
        background: url(../img/mandarin-2/3.png) no-repeat center;
        background-size: contain;
    }
    1.5% {
        background: url(../img/mandarin-2/4.png) no-repeat center;
        background-size: contain;
    }
    2.3% {
        background: url(../img/mandarin-2/5.png) no-repeat center;
        background-size: contain;
    }
    2.5% {
        background: url(../img/mandarin-2/6.png) no-repeat center;
        background-size: contain;
    }
     30%{
        background: url(../img/mandarin-2/6-1.png) no-repeat center;
        background-size: contain;
    }
    30.5%{
        background: url(../img/mandarin-2/6.png) no-repeat center;
        background-size: contain;
    }
    70% {
        background: url(../img/mandarin-2/6.png) no-repeat center;
        background-size: contain;
    }
    70.2%{
        background: url(../img/mandarin-2/5.png) no-repeat center;
        background-size: contain;
    }
    70.8%{
        background: url(../img/mandarin-2/4.png) no-repeat center;
        background-size: contain;
    }
    71%{
        background: url(../img/mandarin-2/3.png) no-repeat center;
        background-size: contain;
    }
    71.2%{
        background: url(../img/mandarin-2/1-1.png) no-repeat center;
        background-size: contain;
    }
    71.3%{
        background: url(../img/mandarin-2/1.png) no-repeat center;
        background-size: contain;
    }
    84%{
        background: url(../img/mandarin-2/1-1.png) no-repeat center;
        background-size: contain;
    }
    84.2%{
        background: url(../img/mandarin-2/1.png) no-repeat center;
        background-size: contain;
    }
}

.dating {
    opacity: 0;
    -webkit-animation: 1s fadeInLeft .2s forwards;
    animation: 1s fadeInLeft .2s forwards
}

h1 {
    opacity: 0;
    -webkit-animation: 1s fadeInLeft 1.2s forwards;
    animation: 1s fadeInLeft 1.2s forwards
}

.sales-block {
    opacity: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-animation: 1s fadeInLeft 2.2s forwards, .5s rotationSaleBlock 3s forwards;
    animation: 1s fadeInLeft 2.2s forwards, .5s rotationSaleBlock 3s forwards;
}

.mandarin-img img, .logo, .code {
    opacity: 0;
}

.mandarin {
    opacity: 0;
    -webkit-animation: .7s bounceInRight 1.7s forwards;
    animation: .7s bounceInRight 1.7s forwards
}

.tour, .tel, .card {
    -webkit-animation: .5s bounceInDown 2.5s forwards;
    animation: .5s bounceInDown 2.5s forwards;
}

.plane {
    -webkit-animation: .5s bounceInDown 2.8s forwards;
    animation: .5s bounceInDown 2.8s forwards
}

.list {
    -webkit-animation: .5s bounceInDown 3s forwards;
    animation: .5s bounceInDown 3s forwards
}

.code {
    -webkit-animation: .7s bounceInDown 3.2s forwards;
    animation: .7s bounceInDown 3.2s forwards
}

.logo {
    -webkit-animation: .5s bounceInDown 3.5s forwards, 7s bell-shake 4.5s linear infinite;
    animation: .5s bounceInDown 3.5s forwards, 7s bell-shake 4.5s linear infinite;
}