@media screen and (max-width: 850px) {
    .dating {
        font-size: 2.38vw;
    }
    h1 {
        width: 48vw;
        min-height: 17vw;
    }
    .btn {
        font-size: 1.8vw;
        width: 33vw;
    }
    main .col .code {
        right: -10vw;
        top: 0vw;
        max-width: 30vw;
    }
    main .col:first-child {
        padding-left: 3vw;
    }
    .mandarin-img {
        margin-left: 0%;
        top: 2vw;
    }
    .blocks {
        max-width: 62vw;
        margin-left: 23vw;
    }
    .block {
        font-size: 1.51vw;
    }
    .block.second::before {
        top: 8.5vw;
        font-size: 23vw;
    }
    .block.first::before {
        top: 6.75vw;
        font-size: 18vw;
    }
    .block.no-bg p {
        max-width: 100%;
        margin: auto;
        font-size: 2vw;
    }
    .blocks:first-child::after {
        right: 12.85vw;
        width: 15vw;
        height: 13vw;
        top: -11vw;
    }
    .blocks:first-child::before {
        left: -4.15vw;
        width: 13vw;
        height: 13vw;
        top: -5vw;
    }
    .block.no-bg h4 {
        font-size: 2.8vw;
    }
    .block.no-bg:first-child::before, .block.no-bg:last-child::before {
        border: dashed .2vw #ff8200;
        border-color: #ff8200 transparent transparent transparent;
        top: 4.95vw;
    }
    .mechanics {
        padding: 10vw 0 1vw;
        background: url(../img/mechanics-bg.jpg) repeat, url(../img/snowflakes-bg-mechanics.png) no-repeat center;
        background-size: 7%, 100%;
    }
    .block.no-bg:first-child {
        margin-left: -18vw;
    }
    .blocks:last-child::after {
        width: 12vw;
        height: 12vw;
        left: 12vw;
    }
    .mandarined::before, .mandarined::after {
        bottom: -8vw;
        height: 15vw;
    }
    .mandarined::before {
        bottom: auto;
        top: -7vw;
    }
    .price-box .box {
        height: 30vw;
    }
    .price-box .box img {
        margin-bottom: 3.35vw;
        height: 16vw;
    }
    .price-box p {
        font-size: 2vw;
    }
    #map {
        width: 90%;
        margin: auto;
    }
    .map.oranged {
        padding-top: 9vw;
        padding-bottom: 10vw;
    }
    footer h2 {
        font-size: 2.52vw;
    }
    .prices h2, .raffle.oranged h2, .map h2 {
        font-size: 5vw;
    }
    footer p {
        padding: 0 3vw;
        font-size: 1.5vw;
    }
}

/* mobile */

@media screen and (max-width: 630px) {
    main, section, footer {
        padding: 15vw 0;
    }
    main .container.flexing {
        justify-content: center;
        flex-direction: column;
    }
    main .col {
        max-width: 100%;
        flex: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main.oranged {
        background: url(../img/oranged-bg-main-mobile.jpg), url(../img/snowflakes-bg.png);
        background-size: 101%, 110%;
        background-position: 2vw -6vw, 0 0;
        padding-top: 5vw;
    }
    .dating {
        font-size: 3vw;
        text-shadow: 18px -6px 20px #ff8a03;
    }
    .logo {
        align-self: flex-start;
        height: 15vw;
        width: 15vw;
        position: absolute;
        top: 0;
    }
    .logo::before {
        width: 6vw;
        height: 8vw;
    }
    .logo-inner {
        width: 10vw;
        height: 10vw;
        top: 3vw;
        margin: auto;
    }
    h1 {
        width: 64vw;
        min-height: 21vw;
    }
    .sales-block {
        width: 50vw;
        height: 11vw;
        font-size: 6vw;
        margin: 2vw auto;
        left: -20vw;
    }
    .sales-block::before, .sales-block::after {
        width: 8vw;
        height: 8vw;
    }
    .sales-block::after {
        bottom: -2.5vw;
        width: 5.5vw;
        height: 5.5vw;
    }
    .mandarin-img {
        margin-left: 0%;
        top: -8vw;
        right: -25vw;
    }
    .mandarin {
        position: absolute;
        width: 46vw;
        right: 7vw;
        top: 7vw;
    }
    .list {
        position: absolute;
        bottom: -50px;
        left: -27vw;
        height: 23.5vw;
    }
    .tour {
        position: absolute;
        left: -6vw;
        bottom: 6vw;
        height: 30vw;
    }
    .tel {
        position: absolute;
        left: 10vw;
        bottom: 12vw;
        height: 31vw;
        transform: rotate(-8deg);
    }
    .card {
        position: absolute;
        left: 24vw;
        bottom: 12.5vw;
        height: 20vw;
    }
    .plane {
        position: absolute;
        bottom: 11vw;
        width: 62vw;
        left: -26vw;
    }
    .btn {
        font-size: 2.8vw;
        height: 7vw;
        width: 54vw;
        padding: 2vw;
    }
    main .col .code {
        right: -10vw;
        top: -2vw;
        max-width: 40vw;
    }
    .mandarin-img::after {
        bottom: -5vw;
        width: 8vw;
        height: 8vw;
    }
    .mandarined::before, .mandarined::after {
        bottom: -12vw;
        height: 25vw;
    }
    .mandarined::before {
        bottom: auto;
        top: -11vw;
    }
    .mechanics {
        padding: 10vw 0 6vw;
        background: url(../img/mechanics-bg.jpg) repeat, url(../img/snowflakes-bg-mechanics.png) no-repeat 67% -18%;
        background-size: 7%, 150%;
    }
    .blocks {
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
    }
    .block.first, .block.second {
        max-width: 75%;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        margin: 2vw 0;
        font-size: 3vw;
    }
    .block.first::before {
        top: 10.5vw;
        font-size: 28vw;
    }
    .block.second::before {
        top: 10.5vw;
        font-size: 29vw;
    }
    .blocks:first-child::before {
        left: -0.5vw;
        width: 21vw;
        height: 21vw;
        top: -9vw;
    }
    .blocks:first-child::after {
        right: 5.85vw;
        width: 20vw;
        height: 18vw;
        top: 15vw;
    }
    .blocks:first-child .block.first p {
        max-width: 70%;
        margin: 0 auto;
    }
    .mechanics .blocks:last-child {
        flex-direction: row;
        justify-content: space-around;
    }
    .mechanics .blocks:last-child .block.no-bg {
        margin: 0;
        max-width: 30%;
    }
    .blocks:last-child::after {
        width: 22vw;
        height: 18vw;
        left: 5vw;
        right: 0;
        margin: auto;
        top: -4vw;
    }
    .block.no-bg h4 {
        font-size: 4.3vw;
    }
    .block.no-bg p {
        font-size: 3vw;
    }
    .block.no-bg:first-child::before, .block.no-bg:last-child::before {
        width: 18vw;
        height: 12vw;
        top: -6vw;
        transform: rotate(-45deg);
        left: 10vw;
    }
    .block.no-bg:last-child::before {
        transform: rotate(45deg);
        left: -2vw;
    }
    .price-box .box {
        height: 50vw;
    }
    .price-box .box img {
        margin-bottom: 5.35vw;
        height: 27vw;
        width: auto;
    }
    .owl-nav {
        display: none;
    }
    .userNav {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: -35vw;
        z-index: 50;
    }
    .next, .prev {
        position: relative;
        display: block;
        left: 15vw;
        background: url(../img/arr-next.png) no-repeat center;
        background-size: contain;
        width: 12vw;
        color: transparent;
        height: 12vw;
        filter: hue-rotate(90deg) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
    }
    .next:hover, .prev:hover {
        filter: hue-rotate(90deg) saturate(0.4);
    }
    .next {
        left: auto;
        right: 15vw;
    }
    .prev {
        transform: rotateY(180deg);
    }
    .prices a.btn {
        margin-top: -7vw;
    }
    .prices.oranged {
        padding-bottom: 12vw;
    }
    .raffle.oranged::before {
        top: 14vw;
        width: 17vw;
        height: 8vw;
    }
    #map {
        height: 65vw;
    }
    .map h2::after {
        height: 5vw;
        width: 5vw;
    }
    footer {
        padding-bottom: 14vw;
    }
    footer p {
        padding: 0 6vw;
        font-size: 2.5vw;
    }
    footer::after {
        width: 80vw;
        height: 13vw;
    }
    .price-box p {
        font-size: 3vw;
    }

}