@media screen and (max-width: 851px) {
    .geoSelect, .geoSelectMap {
        font-size: 2vw;
        height: 4vw;
        width: 30vw;
    }
    .geoSelectMap {
        margin-top: -10vw;
    }
    .geoSelect {
        top: 5vw;
    }
    .haveNoPrizesDiv {
        font-size: 3.35vw;
    }
    .coupon {
        font-size: 2.5vw;
    }
    .container {
        max-width: 850px;
    }
    .mainModal form div.reg-block label {
        font-size: 1.8vw;
    }
    .dating {
        font-size: 2.2vw;
    }
    h1 {
        width: 48vw;
        min-height: 17vw;
    }
    .btn {
        font-size: 1.8vw;
        width: 35vw;
        padding: 1.5vw;
    }
    .sales-block {
        width: 35vw;
    }
    .heading {
        font-size: 6vw;
    }
    .sales-block .additional {
        font-size: 82%;
    }
    .heading::before {
        top: -2.3vw;
        left: -.81vw;
        width: 103%;
        height: 3vw;
    }
    main .col .code {
        right: 0;
        top: -2vw;
        max-width: 30vw;
    }
    main .col:first-child {
        padding-left: 3vw;
    }
    .mandarin-img {
        margin-left: 0%;
        top: 2vw;
    }
    .blocks {
        max-width: 80vw;
        margin: 5vw auto;
    }
    .block {
        font-size: 2vw;
        width: 80%
    }
    .block.second::before {
        font-size: 18vw;
    }
    .block.first::before {
        font-size: 17.3vw;
    }
    .block.first::after {
        width: 3vw;
        height: 5vw;
        bottom: -5vw;
    }
    .block.second {
        margin-top: 5.5vw;
    }
    .block.no-bg p, .block.no-bg:last-child p {
        max-width: 70%;
        margin: auto;
        font-size: 1.82vw;
    }
    .orangesAll {
        bottom: 7vw;
        margin-bottom: 0;
        max-width: 15vw;
    }
    .block.no-bg h4 {
        font-size: 3.8vw;
    }
    .block.no-bg:first-child::before, .block.no-bg:last-child::before {
        height: 7vw;
    }
    .blocks:nth-child(2)::after {
        width: 15vw;
        height: 15vw;
        left: 64vw;
    }
    .blocks:nth-child(2)::before {
        width: 15vw;
        height: 15vw;
        left: -7vw;
    }
    .mechanics {
        padding: 0;
        background: url(../img/mechanics-bg.jpg) repeat, url(../img/snowflakes-bg-mechanics.png) repeat center;
        background-size: 7%, 70%;
        background-position: 0 0, 0 90%;
    }
    .owl-item.active {
        max-width: 30%;
    }
    .price-box {
        flex: 100%;
        margin: 0 auto;
        max-width: 100%;
    }
    .prices.oranged {
        background: url(../img/oranged-bg.jpg), url(../img/snowflakes-bg-prices.png) no-repeat left 9vw;
        background-size: cover, 90%;
    }
    .mandarined::before, .mandarined::after {
        bottom: -8vw;
        height: 15vw;
    }
    .mandarined::before {
        bottom: auto;
        top: -7vw;
    }
    .price-box .box {
        height: 30vw;
    }
    .price-box .box img {
        margin-bottom: 2.35vw;
        height: 16vw;
    }
    .price-box p {
        font-size: 2vw;
    }
    #map {
        height: 85vw;
        width: 100%;
        margin: auto;
    }
    .map.oranged {
        padding-top: 18vw;
        padding-bottom: 0;
    }
    footer h2 {
        font-size: 2.52vw;
    }
    .prices h2, .raffle.oranged h2, .map h2, .mechanics h2 {
        font-size: 4vw;
    }
    .mechanics h2 {
        max-width: 70%;
        margin: auto;
    }
    footer p {
        padding: 0 3vw;
        font-size: 1.8vw;
    }
    .orange-animated {
        -webkit-box-flex: 20%;
        -ms-flex: 20%;
        flex: 20%;
        margin: 0 10vw;
    }
    .info {
        -webkit-box-flex: 80%;
        -ms-flex: 80% 1;
        flex: 80% 1;
        max-width: 50vw;
        margin: 0 5vw;
    }
    .content-raffle .info p {
        font-size: 2vw;
    }
    .map h2::after {
        width: 5vw;
        height: 5vw;
    }
    .tooltip-min {
        max-width: 2vw;
    }
    .mechanics .ramka::before, .mechanics .ramka::after {
        top: -3vw;
        height: 104%;
        z-index: 0;
    }
    .mechanics .ramka::after {
        background: url(../img/fir-2.png);
        right: 0;
        transform: translateZ(0);
        background-size: 99%;
    }
    .owl-carousel .owl-stage {
        display: flex;
        justify-content: center;
    }
    footer {
        background-size: 57%;
        background-position: top;
    }
    .mainModal form {
        width: 50vw;
        height: 50vw;
    }
    .mainModal form h2, .label-reg {
        max-width: 100%;
        font-size: 3.35vw;
    }
    .mainModal form div.cancelBut {
        width: 3vw;
        height: 3vw;
    }
    .mainModal form input[name="userPhone"], .mainModal form div label.label-1::before, .mainModal form input[name="userCode"] {
        font-size: 2.4vw;
    }
    .mainModal form input[name="userPhone"] {
        padding-left: 3.64vw;
    }
    .mainModal form div label.label-1::before {
        top: 3.1vw;
        left: 1vw;
    }
    .mainModal form button {
        font-size: 2.75vw;
        height: 4.84vw;
        border-radius: 3vw;
        width: 52%;
    }
    .formCodeEnt, .formCodeAgain {
        font-size: 2.2vw;
    }
    .mainModal form.regForm {
        width: 95vw;
        height: 52vw;
    }
    .mainModal form .nameField-block input {
        font-size: 2.2vw;
        height: 5vw;
    }
    .mainModal form div.reg-block .label-reg.checked::after {
        top: -0.2vw;
        left: -4.25vw;
        width: 3.5vw;
        height: 3.5vw;
    }
    .mainModal form div.reg-block div input[type='checkbox'] {
        height: 3.5vw;
        width: 3.5vw;
    }
    .mainModal form div.reg-block {
        margin: 0;
        font-size: 2.5vw;
    }
    .mainModal form div.reg-block div {
        height: auto;
        margin-top: 0;
    }
    .mainModal form .subBut button {
        margin: 0 auto;
        width: 28%;
    }
    .logo-inner {
        width: 12vw;
        height: 12vw;
    }
}

/* mobile */

@media screen and (max-width: 630px) {
    .geoSelect, .geoSelectMap {
        font-size: 2.5vw;
    }
    .regForm .couponDiv .coupon {
        flex: 100% 2 !important;
        max-width: 100% !important;
    }
    .addCouponDiv input {
        width: 40vw !important;
        height: 5vw !important;
        font-size: 3vw !important;
        z-index: 10;
    }
    .addCouponDiv .inputError {
        top: -5vw !important;
        z-index: 0;
    }
    .coupon, .coupon span {
        font-size: 3.5vw !important;
    }
    .mainModal form div:nth-child(2).inputError, .inputError {
        font-size: 3vw;
        bottom: 0.5vw
    }
    .divButton {
        width: 30vw !important;
        font-size: 3vw;
        height: 5vw !important;
    }
    main, section, footer {
        padding: 15vw 0;
    }
    .regForm h3.label-reg {
        margin-top: 20px;
        height: 0;
    }
    main .container.flexing {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    main .col {
        max-width: 100%;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    main .col:nth-child(2) {
        margin-top: 5vw;
    }
    main.oranged {
        background: url(../img/oranged-bg-main-mobile.jpg), url(../img/snowflakes-bg-mobile.png);
        background-size: 101%, 100%;
        background-position: 0vw 6vw, -4vw -6vw;
        background-blend-mode: overlay;
        padding-top: 5vw;
    }
    .dating {
        font-size: 3vw;
        text-shadow: 18px -6px 20px #ff8a03;
    }
    .logo {
        -ms-flex-item-align: start;
        align-self: flex-start;
        height: 15vw;
        width: 15vw;
        position: absolute;
        top: 0;
    }
    .logo::before {
        width: 6vw;
        height: 8vw;
    }
    .logo-inner {
        width: 17vw;
        height: 20vw;
        top: 6vw;
        margin: auto;
        left: -2vw;
    }
    h1 {
        width: 64vw;
        min-height: 21vw;
    }
    .sales-block {
        width: 44vw;
        height: 12vw;
        font-size: 6vw;
        margin: 0 auto;
        left: -22vw;
        top: 5vw;
    }
    .sales-block::before, .sales-block::after {
        width: 8vw;
        height: 8vw;
    }
    .sales-block::after {
        bottom: -2.5vw;
        width: 5.5vw;
        height: 5.5vw;
    }
    .mandarin-img {
        margin-left: 0%;
        top: -8vw;
        right: -25vw;
    }
    .mandarin {
        position: absolute;
        width: 52vw;
        right: 1vw;
        top: 8vw;
        height: auto;
        max-width: 100vw!important;
        max-height: 100vh!important;
    }
    .list {
        left: -13vw;
        height: 11.5vw;
    }
    .tour {
        position: absolute;
        left: -6vw;
        bottom: 6vw;
        height: 30vw;
    }
    .tel {
        position: absolute;
        left: 5vw;
        bottom: 12vw;
        height: 31vw;
        -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    .card {
        position: absolute;
        left: 24vw;
        bottom: 12.5vw;
        height: 20vw;
    }
    .plane {
        position: absolute;
        bottom: -5vw;
        width: 40vw;
        left: -20vw;
    }
    .btn {
        font-size: 2.8vw;
        height: 7vw;
        width: 54vw;
        padding: 2vw;
        margin-top: -10vw;
        margin-bottom: 5vw;
    }
    main .col .code {
        right: 26vw;
        top: 5vw;
        max-width: initial;
    }
    main .col .code .btn {
        height: auto;
        width: 39vw;
        padding: 1.5vw;
        margin-top: -10vw;
        margin-bottom: 5vw;
        line-height: 1.5;
        transform: rotate(-5deg);
    }
    .mandarin-img::after {
        bottom: -5vw;
        width: 8vw;
        height: 8vw;
    }
    .mandarined::before, .mandarined::after {
        bottom: -12vw;
        height: 25vw;
    }
    .mandarined::before {
        bottom: auto;
        top: -11vw;
    }
    .mechanics {
        padding: 10vw 0 6vw;
        background: url(../img/mechanics-bg.jpg) repeat, url(../img/snowflakes-bg-mechanics.png) no-repeat 67% -18%;
        background-size: 7%, 150%;
    }
    .mechanics .ramka:after {
        background-size: 106%;
        background-position: 100% 12%;
    }
    .blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
    }
    .block.first, .block.second {
        max-width: 75%;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        margin: 2vw 0;
        font-size: 3vw;
    }
    .block.second {
        margin-top: 8vw;
    }
    .block.first::before {
        font-size: 28vw;
    }
    .block.first::after {
        width: 5vw;
        height: 7vw;
        bottom: -7vw;
    }
    .block.second::before {
        font-size: 29vw;
    }
    .blocks:first-child .block.first p {
        max-width: 70%;
        margin: 0 auto;
    }
    .mechanics .blocks:last-child {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .mechanics .blocks:last-child .block.no-bg {
        margin: 5vw 0 0;
        max-width: 50%;
    }
    .block.no-bg h4 {
        font-size: 5.3vw;
    }
    .block.no-bg p {
        font-size: 3vw;
    }
    .block.no-bg:first-child::before, .block.no-bg:last-child::before {
        height: 12vw;
        width: 8vw;
        top: -12vw;
    }
    .price-box .box {
        height: 50vw;
    }
    .price-box .box img {
        margin-bottom: 5.35vw;
        height: 27vw;
        width: auto;
    }
    .owl-nav {
        display: none;
    }
    .userNav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: -35vw;
        z-index: 50;
    }
    .next, .prev {
        position: relative;
        display: block;
        left: 15vw;
        background: url(../img/arr-next.png) no-repeat center;
        background-size: contain;
        width: 12vw;
        color: transparent;
        height: 12vw;
        -webkit-filter: hue-rotate(90deg) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
        filter: hue-rotate(90deg) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
    }
    .next:hover, .prev:hover {
        -webkit-filter: hue-rotate(90deg) saturate(0.4);
        filter: hue-rotate(90deg) saturate(0.4);
    }
    .next {
        left: auto;
        right: 15vw;
    }
    .prev {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .prices a.btn {
        margin-top: -7vw;
    }
    .raffle.oranged::before {
        top: 17.5vw;
        right: 19vw;
    }
    #map {
        height: 85vw;
    }
    .map h2::after {
        height: 5vw;
        width: 5vw;
    }
    footer {
        padding-bottom: 14vw;
    }
    footer p {
        padding: 0 6vw;
        font-size: 2.5vw;
    }
    footer h2 {
        font-size: 4.52vw;
        max-width: 88%;
        margin: -5vw auto 5vw;
        line-height: 1.5;
    }
    footer::after {
        width: 80vw;
        height: 13vw;
    }
    .price-box p {
        font-size: 3vw;
    }
    .raffle.oranged {
        background: url(../img/trees-bg.svg) no-repeat, url(../img/raffle-snowflakes-bg.png) no-repeat 54%;
        background-size: cover, 95%;
        background-blend-mode: multiply;
        position: relative;
        margin: -20vw 0;
        padding: 22vw 0;
        margin-bottom: -10vw;
    }
    .prices h2, .raffle.oranged h2, .map h2, .mechanics h2 {
        font-size: 4.3vw;
        max-width: 90%;
        margin: auto;
    }
    .blocks:nth-child(2)::after {
        width: 20vw;
        height: 19vw;
        left: 74vw;
        top: -40vw;
    }
    .blocks:nth-child(2)::before {
        width: 26vw;
        height: 19vw;
        left: -3vw;
        z-index: 10;
    }
    .blocks:nth-child(3) {
        max-width: 100%;
    }
    .block.no-bg p, .block.no-bg:last-child p {
        font-size: 2.82vw;
    }
    .tooltip-min {
        max-width: 3vw;
    }
    .orangesAll {
        top: auto;
        margin-bottom: -12vw;
        max-width: 21vw;
        bottom: 17vw;
    }
    .map.oranged {
        padding-top: 19vw;
        padding-bottom: 0;
    }
    .map.oranged h2 {
        margin-bottom: 2vw;
    }
    footer {
        background-size: 100%;
        background: #212121 url(../img/footer-snow.png) no-repeat top;
        background-blend-mode: screen;
        background-size: 100%;
    }
    .mechanics .ramka {
        margin: -5vw auto;
    }
    .mechanics .ramka:before {
        background-size: 106%;
        background-position: 100% 12%;
    }
    .mainModal form.regForm {
        width: 95vw;
        height: 85vw;
    }
    .mainModal form div.cancelBut {
        width: 5vw;
        height: 5vw;
    }
    .mainModal form.regForm .nameField-block {
        width: 100%;
        height: auto;
        flex: 100%;
        max-width: 100%;
    }
    .mainModal form .nameField-block input {
        height: 8.5vw;
        font-size: 3.2vw;
    }
    .mainModal form h2, .label-reg {
        font-size: 5vw;
    }
    .mainModal form div.reg-block .label-reg {
        text-align: left;
        font-size: 3vw;
    }
    .mainModal form div.reg-block div input[type='checkbox'] {
        height: 4.5vw;
        width: 4.5vw;
    }
    .mainModal form div.reg-block .label-reg.checked::after {
        top: -.8vw;
        left: -4.5vw;
        width: 4.5vw;
        height: 4.5vw;
    }
    .mainModal form .subBut button {
        margin: 0 auto;
        width: 31%;
        font-size: 4.2vw;
        height: 6.5vw;
    }
    .mainModal form {
        width: 75vw;
        height: 63vw;
    }
    .mainModal form h2 {
        max-width: 80%;
        margin: auto;
    }
    .mainModal form input[name="userPhone"] {
        padding-left: 4.64vw;
        height: 6vw;
        font-size: 3.2vw;
    }
    .mainModal form div label.label-1::before {
        top: 3.6vw;
        left: 1vw;
        font-size: 3.2vw;
    }
    .mainModal form button {
        font-size: 3.2vw;
        height: 6vw;
        width: 48%;
    }
    .formCodeEnt, .formCodeAgain {
        font-size: 3.2vw;
        margin: 3vw 0 0;
    }
    .mainModal form input[name="userCode"] {
        font-size: 3.2vw;
        height: 6vw;
    }
}

@media screen and (max-width:450px) {
    .addCouponDiv input {
        width: 45vw !important;
        height: 6vw !important;
        font-size: 3.5vw !important;
    }
    .divButton {
        height: 6vw !important;
        font-size: 3.5vw !important;
    }
    .geoSelect, .geoSelectMap {
        font-size: 4vw;
        height: 5vw;
        width: 45vw;
        top: 5vw;
    }
    .geoSelectMap{
        top: 13vw;
    }
    h1 {
        width: 87vw;
        min-height: 40vw;
        top: 5vw;
        position: relative;
    }
    .sales-block {
        width: 65vw;
        height: 16vw;
        font-size: 9vw;
        margin: -9vw auto 11vw;
        left: -13vw;
    }
    .heading {
        font-size: 8vw;
    }
    .dating {
        font-size: 5vw;
        text-shadow: 18px -6px 20px #ff8a03;
        max-width: 64%;
        margin: auto;
        text-align: center;
    }
    main.oranged {
        background: url(../img/oranged-bg-main-mobile-l.png), url(../img/snowflakes-bg-mobile.png);
        background-position: -33vw -28vw, -10vw -6vw;
        padding-bottom: 10vw;
        overflow: hidden;
    }
    .btn {
        font-size: 3.5vw;
        height: 8vw;
        width: 68vw;
        padding: 2vw;
        border-radius: 3.5vw;
    }
    main .col .code {
        right: 6vw;
    }
    main .col .code .btn {
        height: auto;
        width: 47vw;
        padding: 1.5vw;
        margin-top: -10vw;
        margin-bottom: 5vw;
        line-height: 1.5;
        transform: rotate(-2deg);
        right: auto;
        left: -15vw;
        top: -3vw;
    }
    .mandarin-img {
        height: 61vw;
        width: 67vw;
        left: auto;
        right: -27vw;
        margin: auto;
    }
    .list {
        height: 15.5vw;
        left: -15vw;
    }
    .tour {
        position: absolute;
        left: -19vw;
        bottom: 10vw;
        height: 40vw;
    }
    .mandarin {
        position: absolute;
        width: 75vw;
        right: 14vw;
        top: -3vw;
    }
    .plane {
        position: absolute;
        bottom: 12vw;
        width: 68vw;
        left: -41vw;
    }
    .card {
        position: absolute;
        left: 26vw;
        bottom: 15.5vw;
        height: 32vw;
    }
    .tel {
        position: absolute;
        left: 4vw;
        bottom: 7vw;
        height: 46vw;
    }
    .prices h2, .raffle.oranged h2, .map h2, .mechanics h2 {
        font-size: 6vw;
        max-width: 90%;
        margin: auto;
    }
    .map .geoSelectMap{
        top: auto;
    }
    .raffle.oranged h2 {
        max-width: 100%;
        text-align: center
    }
    .block.first, .block.second {
        font-size: 4vw;
    }
    .block p {
        position: relative;
        max-width: 65%;
        margin: auto;
    }
    .block.first::before, .block.second::before {
        font-size: 36vw;
    }
    .blocks:nth-child(2)::after {
        width: 28vw;
        height: 23vw;
        left: 68vw;
        top: -54vw;
    }
    .blocks:nth-child(2)::before {
        width: 31vw;
        height: 24vw;
        left: -2vw;
        z-index: 10;
        top: -16vw;
    }
    .block.no-bg h4 {
        font-size: 6vw;
    }
    .block.no-bg p, .block.no-bg:last-child p {
        font-size: 3.4vw;
    }
    .orangesAll {
        top: auto;
        margin-bottom: -9vw;
        max-width: 25vw;
        bottom: 8vw;
        left: -5vw;
    }
    .mechanics {
        padding-bottom: 10vw;
    }
    .mechanics .ramka:after {
        z-index: 5;
        left: 90vw;
        -webkit-appearance: none;
        transform: translateZ(0);
        background: url(../img/fir-2.png);
        background-size: 160%;
        background-position: 0% 0%;
    }
    .price-box .box {
        height: 75vw;
    }
    .price-box .box img {
        margin-bottom: 3.35vw;
        height: 47vw;
    }
    .userNav {
        top: -50vw;
    }
    .next, .prev {
        left: 5vw;
    }
    .next {
        left: auto;
        right: 5vw;
    }
    .price-box p {
        font-size: 5vw;
        max-width: 80%;
    }
    .owl-dots {
        display: none;
    }
    .prices .btn {
        margin-bottom: 20vw;
        margin-top: 5vw;
    }
    .raffle.oranged {
        background: url(../img/trees-bg-mob.png);
        margin-top: -34vw;
        padding: 40vw 0 47vw;
        margin-bottom: -30vw;
        background-size: 122%;
        height: 150vw;
        background-position: 0% 100%;
    }
    .raffle.oranged::before {
        top: 31vw;
        right: 62vw;
        width: 15vw;
        height: 15vw;
        -webkit-transform: rotate(2.8deg);
        -ms-transform: rotate(2.8deg);
        transform: rotate(2.8deg);
    }
    .content-raffle {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .orange-animated, .info {
        max-width: 100%;
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
    .content-raffle .info p {
        font-size: 4vw;
    }
    .orange-animated {
        margin: 13vw auto 10vw;
        width: 50vw;
        height: 50vw;
    }
    .map.oranged {
        padding-top: 35vw;
    }
    .mandarinMain {
        width: 40vw;
        height: 45vw;
        left: 2vw;
    }
    .leftHand, .rightHand {
        width: 18vw;
        height: 14vw;
        top: 12vw;
        position: absolute;
        left: -7.8vw;
    }
    .tail {
        height: 16vw;
        width: 6.5vw;
        left: 14.51vw;
        top: -4.51vw;
    }
    .leave-orange {
        width: 21vw;
        height: 19vw;
        left: 14.8vw;
        top: -5.5vw;
    }
    .rightHand {
        left: 34.2vw;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    .leftBrow, .rightBrow {
        width: 15vw;
        height: 10vw;
        top: 5.54vw;
        left: 9.5vw;
    }
    .rightBrow {
        left: auto;
        left: 22.5vw;
        top: 6.2vw;
        width: 11vw;
        height: 11vw;
    }
    .leftEye {
        width: 19vw;
        height: 21vw;
        top: 7vw;
        left: 7.6vw;
        -webkit-animation: 4s eyeClosing ease-in-out infinite;
        animation: 4s eyeClosing ease-in-out infinite;
        transform: translateZ(0);
    }
    .rightEye {
        width: 12vw;
        height: 14.5vw;
        top: 10.7vw;
        left: 21vw;
        -webkit-animation: 4s eyeClosingRight ease-in-out infinite;
        animation: 4s eyeClosingRight ease-in-out infinite;
        transform: translateZ(0);
    }
    .mouth {
        width: 32vw;
        height: 17vw;
        top: 17.2vw;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        left: 5.5vw;
        transform: translateZ(0);
    }
    .map h2 {
        margin-bottom: 5vw;
    }
    .map h2::after {
        height: 7vw;
        width: 7vw;
    }
    #map {
        height: 105vw;
    }
    footer p {
        padding: 0 6vw;
        font-size: 3.2vw;
        line-height: 1.5;
    }
    .heading:before {
        background-position: 0 40%;
    }
    .mainModal form {
        width: 83vw;
        height: 80vw;
    }
    .mainModal form input[name="userPhone"] {
        padding-left: 7vw;
        height: 9vw;
        font-size: 4.5vw;
    }
    .mainModal form h2, .label-reg {
        font-size: 6vw;
    }
    .mainModal form div label.label-1::before {
        top: 4.3vw;
        left: 1vw;
        font-size: 4.5vw;
    }
    .mainModal form button {
        margin-top: 6vw;
        font-size: 4.5vw;
        height: 8vw;
        width: 58%;
    }
    .mainModal form input[name="userCode"] {
        font-size: 4.5vw;
        height: 8vw;
    }
    .formCodeEnt, .formCodeAgain {
        font-size: 4.2vw;
        margin: 5vw 0 0;
    }
    .mainModal form div.cancelBut {
        width: 7vw;
        height: 7vw;
        right: 2vw;
    }
    .mainModal form.regForm div:nth-child(4) {
        margin-top: 0;
    }
    .mainModal form div.reg-block div input[type='checkbox'] {
        height: 5.5vw;
        width: 5.5vw;
    }
    .mainModal form div.reg-block .label-reg.checked::after {
        width: 5.5vw;
        height: 5.5vw;
        top: -1.5vw;
        left: -7.5vw;
    }
    .mainModal form div.reg-block .label-reg {
        text-align: left;
        font-size: 3vw;
        line-height: 1.1;
        font-family: 'Ubuntu';
        font-weight: 400;
        color: black;
    }
    .mainModal form div.reg-block {
        justify-content: flex-end;
        margin-left: 2vw;
    }
    .mainModal form div.reg-block .label-reg {
        margin-left: 2vw;
    }
    .mainModal form .subBut button {
        width: 40%;
        font-size: 5.2vw;
        height: 8vw;
    }
    .mainModal form.regForm {
        height: 95vw;
    }
}
@media screen and (max-width: 321px){
    .geoSelect, .geoSelectMap{
        width: 55vw;
    }
    main .col:nth-child(2) {
        margin-top: 15vw;
    }
    main.oranged{
        background-size: 160%, 100%;
        background-position: -44vw -30vw, -10vw -6vw;
    }
}